.order-form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  justify-content: space-between;
}

.order-form {
  width: calc(100% / 3 - 10px);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 151, 10, 0.5);
}

.form-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.data {
  width: 50%;
  display: flex;
  flex-direction: column;
}
